name: '???'
description: '???'
inputs:
  ???:
    description: ???
    required: ???
    default: ???
runs:
  using: "composite"
  steps:
    - name: ???
      run: "???"
      shell: bash
    - name: ???
      run: "???"
      shell: bash
